statemachine/malware-detector.asl.json
{
    "Comment": "A description of my state machine",
    "StartAt": "Update Status: Pending Malware Scan",
    "States": {
        "UpdateStatusPendingMalwareScan": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "Parameters": {
                "TableName": "Documents",
                "Key": {
                    "Column": {
                        "S": "MyEntry"
                    }
                },
                "ConditionExpression": "",
                "UpdateExpression": "SET MyKey = :myValueRef",
                "ExpressionAttributeValues": {
                    ":myValueRef": {
                        "S": "MyValue"
                    }
                }
            },
            "Next": "Malware Detector"
        },
        "MalwareDetectorFunction": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "OutputPath": "$.Payload",
            "Parameters": {
                "Payload.$": "$",
                "File": {
                    "S3Object": {
                        "Bucket.$": "$.detail.bucket.name",
                        "Name.$": "$.detail.object.key"
                    }
                }
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 6,
                    "BackoffRate": 2
                }
            ],
            "Next": "Choice"
        },
        "Choice": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.stateInput.malwareStatus",
                    "StringMatches": "CLEAN",
                    "Comment": "No Malware",
                    "Next": "No Malware"
                }
            ],
            "Default": "Delete Quarantine Copy"
        },
        "No Malware": {
            "Type": "Task",
            "Parameters": {},
            "Resource": "arn:aws:states:::aws-sdk:s3:copyObject",
            "Next": "Delete Quarantine Copy"
        },
        "Delete Quarantine Copy": {
            "Type": "Task",
            "Next": "DynamoDB UpdateItem",
            "Parameters": {},
            "Resource": "arn:aws:states:::aws-sdk:s3:deleteObject"
        },
        "DynamoDB UpdateItem": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "Parameters": {
                "TableName": "MyDynamoDBTable",
                "Key": {
                    "Column": {
                        "S": "MyEntry"
                    }
                },
                "UpdateExpression": "SET MyKey = :myValueRef",
                "ExpressionAttributeValues": {
                    ":myValueRef": {
                        "S": "MyValue"
                    }
                }
            },
            "End": true
        }
    }
}