statemachine/malware-detector-v2.asl.json
{
    "Comment": "A description of my state machine",
    "StartAt": "GetObjectDetailsState",
    "States": {
        "GetObjectDetailsState": {
            "Type": "Pass",
            "Next": "GetDocumentUuidState",
            "Parameters": {
                "bucket.$": "$.detail.bucket.name",
                "objectKey.$": "$.detail.object.key",
                "splitter": "/.",
                "index": 2
            }
        },
        "GetDocumentUuidState": {
            "Type": "Pass",
            "Next": "UpdateStatusPendingMalwareScan",
            "Parameters": {
                "bucket.$": "$.bucket",
                "objectKey.$": "$.objectKey",
                "documentUuid.$": "States.ArrayGetItem(States.StringSplit($.objectKey, $.splitter), $.index)"
            }
        },
        "UpdateStatusPendingMalwareScan": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "Parameters": {
                "TableName": "Documents",
                "Key": {
                    "id": {
                        "S.$": "$.documentUuid"
                    }
                },
                "UpdateExpression": "SET #s = :pendingMalwareScanStatus",
                "ExpressionAttributeNames": {
                    "#s": "Status"
                },
                "ExpressionAttributeValues": {
                    ":pendingMalwareScanStatus": {
                        "S": "PendingMalwareScan"
                    }
                }
            },
            "End": true
        }
    }
}