statemachine/malware-detector-v2.asl.json
{
    "Comment": "A description of my state machine",
    "StartAt": "GetObjectDetailsState",
    "States": {
        "GetObjectDetailsState": {
            "Type": "Pass",
            "Next": "GetDocumentUuidState",
            "Parameters": {
                "bucket.$": "$.detail.bucket.name",
                "objectKey.$": "$.detail.object.key",
                "splitter": "/.",
                "index": 2
            }
        },
        "GetDocumentUuidState": {
            "Type": "Pass",
            "Next": "UpdateStatusPendingMalwareScanState",
            "Parameters": {
                "bucket.$": "$.bucket",
                "objectKey.$": "$.objectKey",
                "documentUuid.$": "States.ArrayGetItem(States.StringSplit($.objectKey, $.splitter), $.index)"
            }
        },
        "UpdateStatusPendingMalwareScanState": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "Next": "MalwareDetectorFunctionState",
            "Parameters": {
                "TableName": "Documents",
                "Key": {
                    "id": {
                        "S.$": "$.documentUuid"
                    }
                },
                "UpdateExpression": "SET #s = :pendingMalwareScanStatus",
                "ExpressionAttributeNames": {
                    "#s": "Status"
                },
                "ExpressionAttributeValues": {
                    ":pendingMalwareScanStatus": {
                        "S": "PendingMalwareScan"
                    }
                },
                "ReturnValues": "ALL_NEW"
            }
        },
        "MalwareDetectorFunctionState": {
            "Type": "Task",
            "Resource": "${MalwareDetectorFunctionArn}",
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 6,
                    "BackoffRate": 2
                }
            ],
            "End": true
        }
    }
}